@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+IE:wght@100..400&family=Rock+Salt&display=swap');

*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root
{
    --fonte_1: "Inter", sans-serif;
    --fonte_2: "Rock Salt", cursive;
    --fonte_3: "Playwrite IE", cursive;

    --cor_base-1: black;
    --cor_base-2: rgb(51, 73, 173);
    --cor_base-3: rgb(71, 0, 163);

    --cor_fundo_branco:white;
    --cor_fundo_preto:black;
    --cor_fonte-branco: white;
    --cor_fonte-preto: black;

}

html
{
    width: 100vw;
    height: 100vh;
}
body
{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 15% 70% 15%;
    font-family: var(--fonte_3);
    font-weight: 400;
    font-style: normal;
}
.default_header
{
    width: 100%;
    background-color: var(--cor_fonte-preto);
    display: flex;
    align-items: center;
    h1
    {
        a
        {
            color: white;
            text-decoration: none;

        }
        margin: auto;
    }
}
.default_main
{
    padding: 10px;
    display: grid;
    grid-template-rows: 50% 50%;
    article
    {
        width: 95%;
        margin: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        h3
        {
            text-align: center;
            border: 1px solid;
            border-bottom: 1px solid white;
            margin: 0px 0px 0px auto;
            width: fit-content;
            padding: 0px 10px;
            font-size: .7em;
        }
        a
        {
            text-decoration: none;
            color: black;
        }
        .novas_coisas
        {
            padding: 7px;
            border: 1px solid;
            font-size: .7em;
            
            .coisas
            {
                display: flex;
                justify-content: space-around;
                .item_card
                {
                    img
                    {
                        border-radius: 10px;
                    }   
                }
            }
            p
            {
                margin: auto;
            }
        }
        .ver_todos
        {
            border: 1px solid;
            border-top: 1px solid white;
            padding: 0px 10px;
            font-size: 0.75em;
            width: fit-content;
            margin-top: -1px;
        }
    }
    .redes_sociais
    {
        margin: auto;
        width: 95%;
        height: 100%;
        border: 1px solid;
        padding: 20px;
        ul
        {
            list-style: none;
            li
            {
                cursor: pointer;
            }
        }
    }
}
.configurando_main
{
    .configurando
    {
        .btn_modoescuro
        {
            background-color: var(--cor_fundo_branco);
            color: var(--cor_fonte-preto);
            padding: 3px;
            border-radius: 10px;
        }
        .btn_modoescuro:hover::before
        {
            
        }
    }
}
.sobre_main
{
    .mi_vi_va
    {
        list-style: none;
        padding: 10px;
        li:nth-child(odd)
        {
            margin: 10px 0px 0px 0px;
            color: white;
            background-color: black;
            text-align: center;
            padding: 5px;
        }
        li:nth-child(even)
        {
            padding: 5px 10px;
            border: 1px solid;
        }
    }
}
.produtos_main
{
    grid-template-rows: 100%;
    .produtos
    {
        // border: 1px solid;
        overflow-y: scroll;
        overflow-x: hidden;
        display: grid;
        grid-template-columns: 48% 45%;
        padding: 0px;
        justify-content: space-around;
        .produto_card
        {
            border: 1px solid;
            width: 100%;
            max-height: 250px;
            min-height: 250px;
            margin: 15px 0px;
            display: grid;
            grid-template-rows: 50% 10% 30% 10%;
            align-items: center;
            padding: 0px 5px;
            img
            {
                margin: auto;
                width: 100%;
                height: 100%;
            }
            p
            {
                font-size: 0.8em;
            }
            button
            {
                background-color: white;
                border: 1px solid;
                height: 25px;
                font-family: var(--fonte_3);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.7em;
            }
            .descricao
            {
                width: 100%;
                height: 100%;
                overflow: scroll;
                word-break: keep-all;
                // border: 1px solid;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                // box-shadow: 1px 1px 4px 1px black;
                // background-color: red;
            }
        }
    }
}
.contact_main
{
    display: flex;
    align-items: center;
    .contato_form
    {
        width: 95%;
        max-width: 95%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        input
        {
            padding: 5px 10px;
            font-family: var(--fonte_3);
        }
        textarea
        {
            padding: 5px 10px;
            max-width: 100%;
            margin: 5px;
            height: 110%;
            font-family: var(--fonte_3);
        }
        .btns_form_contato
        {
            justify-content: space-around;
            display: flex;
            margin: 10px 0px 0px 0px;
            button
            {
                width: 45%;
                height: fit-content;
                background-color: white;
                border: 1px solid;
                border-radius: 5px;
                font-family: var(--fonte_3);
            }
        }
    }
}

.default_footer
{
    width: 100%;
    background-color: var(--cor_fundo_preto);
    color: var(--cor_fonte-branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    ul
    {
        color: white;
        margin: auto;
        a
        {
            text-decoration: none;
            color: white;
        }
    }
}